$vintage-palette: (
    affair: #735983,
    cream: #fffdd0,
    jungle-mist: #aecbcc,
    new-orleans:  #e5c58f,
    toast: #9f7669, 
);

$basic-palette: (
    white-smoke: #f1f1f1,
    swamp: #132020,
    donkey-brown: #826D5B,
    burlywood: #DEB887,
    tan: #D2B48C,
);

$heading: (
    h1: 45px,
    h2: 40px,
    h3: 30px,
    h4: 26px,
    h5: 22px,
    h6: 16px,
);
