<div class="bg-jungle-mist">
    <form>
        <div class="grid-x grid-padding-x align-center form-border">
            <div class="large-12 cell">
                <label>Author
                    <input type="text" placeholder="Author">
                </label>
            </div>

            <div class="large-12 cell">
                <label>Title
                    <input type="text" placeholder="Title">
                </label>
            </div>

            <div class="large-12 cell">
                <label>Subtitle
                    <input type="text" placeholder="Subtitle">
                </label>
            </div>

            <div class="large-12 cell">
                <label>Genre
                    <select>
                        <option value="Allegory">Allegory</option>
                        <option value="Bildungsroman Novel">Bildungsroman Novel</option>
                        <option value="Chic Lit">Chic Lit</option>
                        <option value="Children’s literature">Children’s literature</option>
                        <option value="Christian Fiction">Christian Fiction</option>
                        <option value="Christian Non-Fiction">Christian Non-Fiction</option>
                        <option value="Crime">Crime</option>
                        <option value="Detective">Detective</option>
                        <option value="Devotionals">Devotionals</option>
                        <option value="Dystopian">Dystopian</option>
                        <option value="Epistolary Novel">Epistolary Novel</option>
                        <option value="Fantasy">Fantasy</option>
                        <option value="Gothic">Gothic</option>
                        <option value="Historical Fiction">Historical Fiction</option>
                        <option value="Humour">Humour</option>
                        <option value="Inspirational">Inspirational</option>
                        <option value="Mystery">Mystery</option>
                        <option value="Novella or Short Novel">Novella or Short Novel</option>
                        <option value="Philosophical Fiction">Philosophical Fiction</option>
                        <option value="Romance">Romance</option>
                        <option value="Romantic Comedy">Romantic Comedy</option>
                        <option value="Short Story">Short Story</option>
                        <option value="Social criticism">Social criticism</option>
                        <option value="Teen Drama">Teen Drama</option>
                        <option value="Thriller">Thriller</option>
                        <option value="Woman’s Fiction">Woman’s Fiction</option>
                        <option value="Uncategorized">Uncategorized</option>
                    </select>
                </label>
            </div>

            <div class="small-12 medium-12 large-6 cell align-self-center">
                <div class="input-group-button">
                    <input type="submit" class="button-input" value="Submit">
                </div>
            </div>

        </div>
    </form>
</div>