<div class="bg-swamp">
    <div class="grid-x">
        <div class="cell small-12 large-6 footer-blogs">
            <h3>Blogs I Follow</h3>
            <ul>
                <li>Books Beyond Measure</li>
                <li>My Library</li>
                <li>The Book Smugglers</li>
                <li>Books Tales by me</li>
                <li>Books & Munches</li>
                <li>Hit or Miss Books</li>
                <li>A Book. A Thought</li>
                <li>Zezee with Books</li>
                <li>Books and Blends</li>
                <li>Kristin Kraves Books</li>
            </ul>        
        </div>
        
        <div class="cell small-12 large-6">
            <div class="bg-white-smoke-footer footer-goodreads">
                <h3>Goodreads</h3>
                <img src="{{root}}assets/img/goodreads.jpg" alt="goodreads" class="goodreads-img">

                <div class="grid-padding-x">
                    <div class="large-12 cell">
                        
                        <div class="books">
                            <p>Mistress of the Art of Death</p>
                            <p>by Ariana Franklin</p>
                            <img src="{{root}}assets/img/Mistress.jpg" alt="footer" class="footer-img">
                        </div>
                        <hr>

                        <div>
                            <p>The A.B.C. Murders</p>
                            <p>by Agatha Christie</p>
                            <img src="{{root}}assets/img/ABC.jpg" alt="footer" class="footer-img">
                        </div>
                        <hr>

                        <div>
                            <p>Murder at the Vicarage</p>
                            <p>by Agatha Christie</p>
                                <img src="{{root}}assets/img/Murder at the Vicarage.jpg" alt="footer" class="footer-img">
                        </div>
                        <hr>

                        <div>
                            <p>A Study in Scarlet</p>
                            <p>by Arthur Conan Doyle</p>
                                <img src="{{root}}assets/img/A Study in Scarlet.jpg" alt="footer" class="footer-img">
                        </div>
                        <hr>

                        <div>
                            <p>Alice's Adventures in Wonderland</p>
                            <p>by Lewis Carroll</p>
                                <img src="{{root}}assets/img/Alice's Adventures in Wonderland.jpg" alt="footer" class="footer-img">
                        </div>
                        <hr>
                    </div>
                </div>    

            </div>

        </div>
    </div>
</div>