<div class="grid-padding-x">
    <div class="large-12 cell">
        <blockquote>
            <div class="bg-cream">
                <div class="quote">
                    “The more that you read, the more things you will know. The more that you learn, the more places you’ll go.”
                    <cite>Dr. Seuss</cite>
                </div>
            </div>
        </blockquote>
    </div>
</div>

<div class="grid-padding-x">
    <div class="media-object stack-for-small">
        <div class="media-object-section middle">
            <div class="intro">
                <h3>What this website is about:</h3>
                <p>Computerizing my library means that I can easily keep track of which books I already own before buying yet another duplicate!</p> 
                <p>or which author, genre/category occurs the most my collection.</p>
                <p>Under the “Collection Index” tab my entire hoard can be viewed. This will consistently grow!</p>
            </div>
        </div>
        <div class="media-object-section">
            <img src="{{root}}assets/img/girl sitting and reading.jpg" alt="landing" class="landing-intro">
        </div>
    </div>

</div>

<div class="grid-padding-x">
    <div class="bg-cream">
        <div class="large-12 cell">
            <img src="{{root}}assets/img/girl-reading-book-animation-19.gif" alt="landing" class="landing-img">
        </div>
    </div>
</div>

<div class="grid-padding-x">
    <div class="media-object stack-for-small">
        <div class="bg-new-orleans">
            <div class="media-object-section middle">
                <div class="book-ofthe-month">
                    <h3>Book of the month</h3>
                    <h4>Random by Craig Robertson</h4>
                    
                    <p>Glasgow is being terrorized by a serial killer the media have nicknamed The Cutter.  The murders have left the police baffled.</p> 
                    
                    <p>There seems to be neither rhyme nor reason behind the killings; no kind of pattern or motive; an entirely different method of murder each time, and nothing that connects the victims except for the fact that the little fingers of their right hands have been severed.</p>

                    <p>If DS Rachel Narey could only work out the key to the seemingly random murders, how and why the killer selects his victims, she would be well on her way to catching him.</p>

                    <p>But as the police, the press and a threatening figure from Glasgow’s underworld begin to close in on The Cutter, his carefully-laid plans threaten to unravel – with horrifying consequences.</p>
                </div>
            </div>
        
            <div class="media-object-section">
                <img src="{{root}}assets/img/lib aisle lights.jpg" alt="landing" class="lib-aisle">
            </div>
        </div> 
    </div>

</div>




