<div class="bg-toast">
    <div class="grid-x align-center">
        <div class="large-12 cell">
            
            <div class="title-bar" data-responsive-toggle="example-menu" data-hide-for="large">
                <button class="menu-icon" type="button" data-toggle="example-menu"></button>
                <div class="title-bar-title">Menu</div>
            </div>
 
            <div class="top-bar" id="example-menu">
                <div class="top-bar-left">
                    <ul class="dropdown menu" data-dropdown-menu>
                        <li class="menu-text hide-for-large-only">My Library</li>
                        <li><a href="#">Add Book</a></li>
                        <li><a href="#">View Collection</a></li>
                        <li><a href="#">Advanced Search</a></li>
                    </ul>
                </div>

                <div class="top-bar-right">
                    <ul class="menu">
                        <li><input type="search" placeholder="Search" class="search"></li>
                        <li><button type="button" class="button">Search</button></li>
                    </ul>
                </div>

            </div>
        </div>


    </div>
</div>